<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/desktop.css">
    <title>Login</title>
</head>
<body>
    <main>
        <div class="logo-container">
            <img src="/img/logodevfive.png" alt="Logo" class="logo-img">
        </div>
        <div class="logo-text-container">
            <p class="logo">Faça seu login aqui!</p>
        </div>
        <form id="myForm">
            <div class="input_container">
                <label for="email">Email:</label>
                <input type="text" name="email" id="email" required>
            </div>
            <div class="input_container">
                <label for="senha">Senha:</label>
                <input type="password" name="senha" id="senha" required>
            </div>
            <div class="input_container click_me">
                <p>Novo por aqui? <br>Clique <a href="/auth/register">Aqui</a> para se registrar!</p>
            </div>
            <input type="submit" value="Logar">
            <p id="error-message" style="color: red; display: none;">Erro ao realizar login. Verifique suas credenciais e tente novamente.</p>
        </form>
    </main>

    <script>
        const form = document.getElementById('myForm');
        const errorMessage = document.getElementById('error-message');

        form.addEventListener('submit', function(event) {
            event.preventDefault(); // Evita o recarregamento da página

            const email = document.getElementById("email").value;
            const senha = document.getElementById("senha").value;

            const bodyData = {
                email: email,
                password: senha // Corrigido para "password" se a API esperar este nome
            };

          // Faz a requisição Fetch para o endpoint
          fetch(window.location.href, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(bodyData)
          })
          .then(response => response.json())
          .then(data => {
            console.log(data)
            sessionStorage.setItem('authToken', data.token);
            window.location.href = '/api-docs'
          })
          .catch(error => {
            console.log(error);
          });

        });
    </script>
</body>
</html>
