<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/desktop.css">
    <title>Registro</title>
</head>
<body>
    <main>
        <div class="logo-container">
            <img src="/img/logodevfive.png" alt="Logo" class="logo-img">
        </div>
        <div class="logo-text-container">
            <p class="logo">Registre-se aqui!</p>
        </div>
        <form id="registerForm">
            <div class="input_container">
                <label for="">Nome:</label>
                <input type="text" name="nome" id="nome" required>
            </div>
            <div class="input_container">
                <label for="">Cargo:</label>
                <input type="text" name="cargo" id="cargo" required>
            </div>
            <div class="input_container">
                <label for="">Email:</label>
                <input type="text" name="email" id="email" oninput="onInputVerify()" required>
            </div>
            <div class="input_container">
                <label for="">Senha:</label>
                <input type="password" name="senha" id="senha" oninput="onInputVerify()" required>
            </div>
            <input type="submit" value="Registrar" id="submit">
        </form>
    </main>
    <script>
        function isDisable(element, value){
            element.disabled = !value;
        }
        function onInputVerify(){
            const buttonDocument = document.getElementById('submit');
            isDisable(buttonDocument, (verifyPasswd() && verifyEmail()));
        }
        
        function verifyEmail(){
            const email = document.getElementById('email').value;
            const regex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
            return regex.test(email);
        }
        function verifyPasswd(){
            const senha = document.getElementById('senha').value;
            return senha.length >= 6;
        }

        // Envio do formulário usando Fetch
        const registerForm = document.getElementById('registerForm');
        registerForm.addEventListener('submit', function(event) {
            event.preventDefault(); // Evita o recarregamento da página
            
            const nome = document.getElementById('nome').value;
            const cargo = document.getElementById('cargo').value;
            const email = document.getElementById('email').value;
            const senha = document.getElementById('senha').value;
            
            fetch('/auth/register', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ nome, cargo, email, senha })
            })
            .then(response => response.json())
            .then(data => {
                alert("Funcionário cadastrado com sucesso!");
                window.location.href = '/auth/login';
            })
            .catch(error => console.log(error));
        });
    </script>
</body>
</html>
