body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #040053;
}

main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
}

.logo-container {
    text-align: center;
}

.logo-img {
    max-width: 40%;
    height: auto;
    margin: auto;
    margin-top: 40px;
}

.logo-text-container {
    text-align: center;
    
}
.logo-text-container p.logo {
    font-size: 1.3em;
    margin-top: -30px;
}

p.logo {
    font-size: 1.3em;
    color: #E6E6FA;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    background-color: #d4d4ce;
    border: 2px solid #FFD700;
    box-shadow: 0 0 0px 0 #FFD700;
    padding: 25px;
    border-radius: 15px;
}

form > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

form label {
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

label {
    font-family: 'Roboto', sans-serif;
    font-size: 14px; 
    color: #333; 
    margin-bottom: 5px;
}

form input {
    padding: 10px;
    border: 1px solid #B0A392;
    border-radius: 5px;
    background-color: #FAF3E0;
    color: #333;
}

input[type="submit"] {
    background-color: #FFD700;
    color: #040053;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #E6B800;
}

p.click_me {
    font-size: smaller;
    color: #E6E6FA;
}

a {
    color: #4a90e2;
    text-decoration: none;
}

a:hover {
    color: #357ab8;
}

.token-container {
    width: 350px;
    background-color: #d4d4ce;
    border: 2px solid #FFD700;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

.token-container h1 {
    font-size: 1.8em;
    color: #E6E6FA;
    margin-bottom: 10px;
}

.token-container p {
    color: #333;
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
    word-break: break-all;
    padding: 10px;
    background-color: #FAF3E0;
    border-radius: 5px;
    border: 1px solid #B0A392;
}

.button-container {
    margin-top: 20px;
}

.logout-button {
    background-color: #FFD700;
    color: #040053;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.logout-button:hover {
    background-color: #E6B800;
}